/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: "Montserrat", sans-serif;
}

ul{
    list-style: none;
}

/* General Classes */

.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}

/* Header */

header{
    background-color: black;
    color: white;
    width: 100px;
}

.service-logo{
    width: 100%;
}

.navigation-icon{
    width: 100%;
}










@media screen and (max-width: 576px) {
    .full-display{
        display: none;
    }
}

@media screen and (min-width: 577px) {
    header{
        width: 200px;
    }
    .collapsed{
        display: none;
    }
}
