/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

ul{
    list-style: none;
}

/* General Classes */

.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}

.centered{
    justify-content: center;
    align-items: center;
}

.font-white{
    color: white;
}

.bg-main{
    background-color: #141922;
}

/* Header */

header{
    
}

.container{
    position: sticky;
    top: 0;
    background-color: black;
    height: calc(100vh - 100px);
    width: 50px;
}

.service-logo{
    width: 100%;
}

.navigation-icon{
    width: 100%;
}

.user{
    position: absolute;
    bottom: 0;
}

.user img{
    width: 100%;
}

/* Main */

main {
    width: calc(100vw - 50px)
}

.upgrade{
    position: sticky;
    top: 0;
    background-color: #080b12;
    justify-content: flex-end;
    padding: 2rem .5rem;
}

.main-navigation li{
    width: calc(100% /4);
}

.track,
.artist{
    width: calc((100% - 2rem) / 2);
    text-align: center;
}

.track>img{
    width: 100%;
}

.artist>img{
    width: 100%;
    border-radius: 50%;
}

main h1{
    width: 100%;
}

.upgrade>button{
    background-color: #080b12;
    text-transform: uppercase;
    border: white solid 1px;
    padding: .5rem 1.5rem;
    border-radius: 20px;
}

/* Footer */

footer{
    height: 100px;
    width: 100vw;
    background-color: #282828;
    position: sticky;
    bottom: 0;
}

.playing-track{
    width: 80%;
}

footer>section{
    width: calc((100% - 3rem) / 3);
}

.track-img>img{
    width: 100%;
}










@media screen and (max-width: 576px) {
    .full-display{
        display: none;
    }

    .navigation-label{
        display: none;
    }

    .playlist{
        display: none;
    }

    /* .user label{
        display: none;
    } */
}

@media screen and (min-width: 577px) {
    header{
        width: 200px;
    }
    .collapsed{
        display: none;
    }
}
