/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Montserrat", sans-serif;
}

ul{
    list-style: none;
}

/* General Classes */

.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
}

/* Header */

header{
    
}

.container{
    position: sticky;
    top: 0;
    background-color: black;
    color: white;
    height: calc(100vh - 100px);
    width: 50px;
}

.service-logo{
    width: 100%;
}

.navigation-icon{
    width: 100%;
}

.user{
    position: absolute;
    bottom: 0;
}

.user img{
    width: 100%;
}

/* Footer */

footer{
    height: 100px;
    width: 100vw;
    background-color: #282828;
    position: sticky;
    bottom: 0;
}










@media screen and (max-width: 576px) {
    .full-display{
        display: none;
    }

    .navigation-label{
        display: none;
    }

    .playlist{
        display: none;
    }

    /* .user label{
        display: none;
    } */
}

@media screen and (min-width: 577px) {
    header{
        width: 200px;
    }
    .collapsed{
        display: none;
    }
}
